# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
venv/
.venv/
env/

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# Model Files
# =====================================
models/
*.keras
*.h5
*.ckpt
*.pt
*.pth
*.pkl

# =====================================
# Dataset
# =====================================
data/raw/
data/processed/
data/evidence/

# Jika dataset training sangat besar
# data/training/

# =====================================
# Logs
# =====================================
logs/
*.log

# =====================================
# Cache
# =====================================
.cache/

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# OS
# =====================================
.DS_Store
Thumbs.db
desktop.ini
